body{
      border:1px solid blue;
      max-width: 1024px;
      margin:0px auto;
}

header{
	background: #d7e6e9;
}
header nav ul li{
	border:1px solid red;
	 display:  inline-block;
	 margin-right: 20px;

}

#logo{
	margin-top: -150px;
}