body{
	font-size: 16px;
	margin:0px auto;
	/*recomendacion del cliente*/
	min-width: 1078px;
	max-width: 1078px;
}
#paint{
	 float:right;
}
#granthams{
	margin-left: 25px;
	margin-top: 25px;
}
#primerSeccion article{
   display: inline-block;
   vertical-align:top; 
   margin-top: 60px;
   height: 318px;
}
#secc01art01{
	width: 60%;
	margin-left: 30px;
}
#secc01art02 {
	margin-left:50px;
    width: 30%;
}
#secc03art04{
	border:1px solid red;
	padding-top: 40px;
}
#secc04art01 nav ul{
	display: inline-block;
}
#segundaSeccion article{
	margin-right: 160px;
	text-align: right;
}
#terceraSeccion article{
	display: inline-block;
	width: 23%;
	vertical-align: top;
}
#terceraSeccion article img{
	vertical-align: middle;
}
#terceraSeccion article input{
	border-radius:5px;
}
#terceraSeccion article input[type="button"] {
	background: white;
	background-color: #8BC500;
}
#cuartaSeccion{

}
#bgoffer{
	left:-35;
	position: relative;
	top:-410px;
}
.colorrosa{
	color:#FF0099;
}
.colorazul{
	color:#2467B3;
}
.colorverde{

  color: #8BC500;
}
.letragrande{
   font-size: 3.5em;
}
.nito{
	font-weight: bold;
}
.letramediana{
	font-size: 2em;
}
#secc01art02 ul {
	list-style: none;
	margin-left: -40px;
}
#secc01art02 ul li:before{
     content:"•";
     color:#FF0099;
 }
header input{
	float:right;
	margin-top: 15px;
	margin-right: -200px;
	position: relative;
}
header nav ul li{
	display: inline-block;
	color:lightgray;
	font-size: 1.8em;
	margin-right:15px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 2px;

}
header nav{
	margin-left: 220px;
}


